<h1><%= yield(:title) %></h1>

<p class="lead">Just a quick and simple demo app to test deployments to Windows Azure Virtual Machines.</p>

<a href="<%= new_search_path %>"  class="btn btn-default">Add a new keyword</a>
<hr/>
<div id="twitterfeed" class="container">
  <div class="row">
    <div class="col-md-4">
      <ul class="list-group">
        <% @searches.each do |s| %>
          <li class="list-group-item">
            <span class="badge">0</span>
            <%= s.keyword %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="alert alert-warning"><strong>Todo:</strong> Implement a twitter client here :)</div>
    </div>
  </div>
</div>

<% content_for :footer do %>
  <%= javascript_include_tag "twitter.feed" %>
<% end %>
